<!-- <app-root></app-root> -->
<div class="container">
  <div class="row justify-content-center">

  <div class="col-md-6" style="text-align: center;">
    <table class="table table-light" id="emptable">
       <thead class="thead">
        <tr>
          <th>EmployeeName</th>
          <th>StartTimeUtc</th>
          <th>EndTimeUtc</th>
          <th>TotalTimeWorked</th>
        </tr>

      </thead>
      <tbody id="tbody">
        <tr *ngFor="let row of employee">
          <td>{{row.EmployeeName}}</td>
          <td>{{row.StarTimeUtc | date:'yyyy-MM-dd HH:mm'}}</td>
          <td>{{row.EndTimeUtc | date:'yyyy-MM-dd HH:mm'}}</td>
          <td>{{row.hoursWorked}}</td>

        </tr>

      </tbody>

    </table>
  </div>
  </div>
</div>